# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate.log

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks.json
# for Visual Studio Code. This folder is should be tracked.
# .vscode/

# Flutter/Dart/Pub-related
# [Internal record of custom pubspec overrides]
.pub-proxy/
# [Internal record of packages and their locations]
.packages
# [Internal record of package dependencies]
.pub/
# [Internal record of the build system]
.dart_tool/

# IDE-specific
.idea/
.vscode/

# Build artifacts
build/
*.a
*.o
*.so

# Android related
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
**/android/app/src/main/res/values/googleservices.xml
**/android/app/src/main/res/values/google-services.json
**/android/app/google-services.json
**/android/app/src/release/google-services.json
**/android/.gradle
**/android/captures/
**/android/*.iml
**/android/*.ipr
**/android/*.iws
**/android/app/*.iml

# iOS related
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/ephemeral/
**/ios/Pods/
**/ios/Runner/GeneratedPluginRegistrant.h
**/ios/Runner/GeneratedPluginRegistrant.m
**/ios/.tags*
**/ios/*.mode1v3
**/ios/*.mode2v3
**/ios/*.perspectivev3
**/ios/*.pbxuser
**/ios/*.xcworkspace
**/ios/*.xcuserdata
**/ios/Config/
**/ios/.idea/

# Web related
**/web/index.html
**/web/manifest.json
**/web/favicon.png

# Symlinks to Flutter SDK (rarely needed)
.flutter-plugins
.flutter-plugins-dependencies
# Backend related
node_modules/
.env
